<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
</head>
<body>
  <div class="container-fluid py-2 text-bg-light">
    <div class="container">
      <a href="">
      <img src="assets\sport.png" width="97%" alt="">
      </a>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="container">
    <h1>Sports</h1>
    <br>
    <div class="">
      <a href=""><button type="button" class="btn btn-outline-secondary text-danger px-3 rounded-pill mx-2" id="btn1">Kabaddi</button></a>
      <a href=""><button type="button" class="btn btn-outline-secondary text-danger px-3 rounded-pill mx-2" id="btn1">Online Games</button></a>
      <a href=""><button type="button" class="btn btn-outline-secondary text-danger px-3 rounded-pill mx-2" id="btn1">E-Sports</button></a>
      <a href=""><button type="button" class="btn btn-outline-secondary text-danger px-3 rounded-pill mx-2" id="btn1">Football</button></a>
      <a href=""><button type="button" class="btn btn-outline-secondary text-danger px-3 rounded-pill mx-2 " id="btn1">Cricket</button></a>
      <a href=""><button type="button" class="btn btn-outline-secondary text-danger px-3 rounded-pill  mx-2" id="btn1">Running</button></a>
      <a href=""><button type="button" class="btn btn-outline-secondary text-danger px-3 rounded-pill mx-2" id="btn1">Chess</button></a>
      <a href=""><button type="button" class="btn btn-outline-secondary text-danger px-3 rounded-pill mx-2" id="btn1">Online Sports</button></a>
    </div>
    
    <br>
    <br>
  

    <div class="card-group">
           
      <div class="card mx-3 border-0">
        <img src="assets\t20.avif" class="card-img-top img-fluid rounded-4" height="400px">
        <div class="card-body">
          <h5 class="card-title">India Vs Australia - 3rd..</h5>
          <p class="card-text">ACA stadium,....</p>
          <p class="card-text"><small class="text-body-secondary">
          T20 <br>500Rs onwards
          </small></p>
        </div>

        <script>
          // Initialize tooltips
          vartooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
          vartooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl)
          })
          </script>
      </div>
            
              
            
      <div class="card mx-3 border-0">
        <img src="assets\prokabbadi.avif" class="card-img-top img-fluid rounded-4" alt="..." data-bs-toggle="tooltip" 
        title=" ABOUT THIS SHOW:-
        Puneri Paltan Pro Kabaddi: Representing the city of Pune, Maharashtra in the 
        Pro Kabaddi League, Puneri Paltan stands as a stalwart professional Kabaddi team. 
        Situated at the Shree Shiv Chhatrapati Sports Complex and under the guidance of 
        Coach BC Ramesh, this team has etched its presence in the league's history.
          ">
        <div class="card-body">
          <h5 class="card-title">Pro Kabbadi League Season..</h5>
          <p class="card-text">Multiple Venues</p>
          <p class="card-text"><small class="text-body-secondary">
          Kabaddi <br>350Rs onwards
          </small></p>
        </div>
      </div>
           

           
      <div class="card mx-3 border-0">
        <img src="assets\prokabbadi.avif" class="card-img-top img-fluid rounded-4" alt="..." data-bs-toggle="tooltip" 
        title=" ABOUT THIS SHOW:-
        Puneri Paltan Pro Kabaddi: Representing the city of Pune, Maharashtra in the 
        Pro Kabaddi League, Puneri Paltan stands as a stalwart professional Kabaddi team. 
        Situated at the Shree Shiv Chhatrapati Sports Complex and under the guidance of 
        Coach BC Ramesh, this team has etched its presence in the league's history.
          ">
        <div class="card-body">
          <h5 class="card-title">Pink Panthers Vs Yodhas &..</h5>
          <p class="card-text">Shree Shiv...</p>
          <p class="card-text"><small class="text-body-secondary">
          Kabaddi <br>350Rs onwards
          </small></p>
        </div>
      </div>
           


      <div class="card mx-3 border-0">
        <img src="assets\prokabbadi.avif" class="card-img-top img-fluid  rounded-4" alt="..." data-bs-toggle="tooltip" 
        title=" ABOUT THIS SHOW:-
        Puneri Paltan Pro Kabaddi: Representing the city of Pune, Maharashtra in the 
        Pro Kabaddi League, Puneri Paltan stands as a stalwart professional Kabaddi team. 
        Situated at the Shree Shiv Chhatrapati Sports Complex and under the guidance of 
        Coach BC Ramesh, this team has etched its presence in the league's history.
          ">
          <div class="card-body">
            <h5 class="card-title">Paltan vs Steelers &...</h5>
            <p class="card-text">Shree Shiv...</p>
            <p class="card-text"><small class="text-body-secondary">
            Kabaddi <br>500Rs onwards
           </small></p>
          </div>
      </div>
    </div>
          

    <br><br>
    <div class="card-group">
            
      <div class="card mx-3 border-0">
        <img src="assets\level1.png" class="card-img-top img-fluid rounded-4" height="400px">
        <div class="card-body">
          <h5 class="card-title">Mumbai City FC 2023-24</h5>
           <p class="card-text">Multiple Venues</p>
          <p class="card-text"><small class="text-body-secondary">
           Football <br>499Rs
          </small></p>
        </div>
              
      </div>
           

           
      <div class="card mx-3 border-0">
        <img src="assets\level2.png" class="card-img-top img-fluid rounded-4" alt="..." data-bs-toggle="tooltip" 
        title=" ABOUT THIS SHOW:-
        Puneri Paltan Pro Kabaddi: Representing the city of Pune, Maharashtra in the 
        Pro Kabaddi League, Puneri Paltan stands as a stalwart professional Kabaddi team. 
        Situated at the Shree Shiv Chhatrapati Sports Complex and under the guidance of 
        Coach BC Ramesh, this team has etched its presence in the league's history.
          ">
        <div class="card-body">
          <h5 class="card-title">Pro Kabbadi League Season..</h5>
           <p class="card-text">Multiple Venues</p>
          <p class="card-text"><small class="text-body-secondary">
           Kabaddi <br>200Rs onwards
            </small></p>
        </div>
     </div>
            

            
      <div class="card mx-3 border-0">
        <img src="assets\level3.png" class="card-img-top img-fluid rounded-4" alt="...">
        <div class="card-body">
          <h5 class="card-title">ISL Season 2023-24...</h5>
          <p class="card-text">Multiple Venues</p>
          <p class="card-text"><small class="text-body-secondary">
          Football <br>150Rs onwards
          </small></p>
        </div>
      </div>
            

            
      <div class="card mx-3 border-0">
        <img src="assets\level4.png" class="card-img-top img-fluid  rounded-4" alt="...">
        <div class="card-body">
          <h5 class="card-title">Fitness Virtual Marathon 2024</h5>
          <p class="card-text">Your Place and...</p>
          <p class="card-text"><small class="text-body-secondary">
          5k <br>390Rs 
          </small></p>
        </div>
      </div>
              
    </div>

    <br><br>
    <div class="card-group">
            
      <div class="card mx-3 border-0">
        <img src="assets\losttresure.avif" class="card-img-top img-fluid rounded-4" height="400px" data-bs-toggle="tooltip" 
        title=" ABOUT THIS SHOW:-
        You are a group of explorers who love travelling to Jungles across the world. 
        This time you choose Sundarbans famous for deadly wild beasts and tough terrain. 
        Locals told you about the ancient lost treasure in the Jungle. This excites you 
        even further, but you realize this can be a dangerous adventure.
          ">
        <div class="card-body">
          <h5 class="card-title">Online Game - Lost Treasure of..</h5>
           <p class="card-text">Online [Play From Home]</p>
          <p class="card-text"><small class="text-body-secondary">
          E Sports <br>199Rs
          </small></p>
        </div>
              
      </div>
           

           
      <div class="card mx-3 border-0">
        <img src="assets\samuraisudoko.avif" class="card-img-top img-fluid rounded-4" alt="..." data-bs-toggle="tooltip" 
        title=" ABOUT THIS SHOW:-
        Samurai Sudoku follows the same rules as Sudoku in that every row, column 
        and block of each of the five grids must contain the numbers 1 to 9. Where 
        the grids overlap, the rows and columns do not go beyond their usual length
        but the interlocking blocks give you more clues.
          ">
        <div class="card-body">
          <h5 class="card-title">Samurai Sudoku Championship by...</h5>
           <p class="card-text">Watch on Zoom.</p>
          <p class="card-text"><small class="text-body-secondary">
           Online Games<br>149Rs
            </small></p>
        </div>
     </div>
            

            
      <div class="card mx-3 border-0">
        <img src="assets\third3.png" class="card-img-top img-fluid rounded-4" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mumbai City FC vs PFC Navbahor...</h5>
          <p class="card-text">Shree Shiv Chhatrapati..</p>
          <p class="card-text"><small class="text-body-secondary">
          Football <br>499Rs.
          </small></p>
        </div>
      </div>
            

            
      <div class="card mx-3 border-0">
        <img src="assets\monthly sudo.avif" class="card-img-top img-fluid  rounded-4" alt="...">
        <div class="card-body">
          <h5 class="card-title">Monthly Sudoku Challenge by MALSAR</h5>
          <p class="card-text">Watch on Zoom.</p>
          <p class="card-text"><small class="text-body-secondary">
          Online Games <br>79Rs.
          </small></p>
        </div>
      </div>
              
    </div>




  </div>


    <div style="background-color: #333338; margin-top: 7%;">
      <p class="text-white" style="padding: 2%; font-size: large;"><b>List your show </b>   Got a show,event,activity or a great experience? Partner with us & get listed on BookMyShow</p>
    
    
      <div style="margin-left: 3%;">
        <h6 style="color: rgb(196, 165, 165);">MOVIES NOW SHOWING</h6>
        <p><span class="fut">Jhimma 2 </span>|<span class="fut"> Tiger 3 </span>|<span class="fut"> Napoleon </span>|<span class="fut"> Farrey </span>|<span class="fut"> Naal Bhag-2 </span>|<span class="fut"> 12th Fail </span>|<span class="fut"> Animal </span></p>
      
        <h6 style="color: rgb(196, 165, 165); margin-top: 2%;">UPCOMING MOVIES</h6>
        <p><span class="fut">Atharva </span>|<span class="fut"> The Bikeriders </span>|<span class="fut"> Raapata </span>|<span class="fut"> Naadu </span>|<span class="fut"> Palle Gootiki pandagocchindhi </span>|<span class="fut"> Sam Bahadur </span>|<span class="fut"> Gaarudiga </span>|<span class="fut"> Dance Party </span>|<span class="fut"> Annapoorani - The Goddess of Food </span>|<span class="fut"> Anavarana </span></p>
      
        <h6 style="color: rgb(196, 165, 165); margin-top: 2%;">MOVIES BY GEBRE</h6>
        <p><span class="fut">Drama Movies </span>|<span class="fut"> Action Movies </span>|<span class="fut"> Thriller Movies </span>|<span class="fut"> Crime Movies </span>|<span class="fut"> Adaptation Movies </span>|<span class="fut"> Mythological Movies </span>|<span class="fut"> Noir Movies </span>|<span class="fut"> Political Movies </span>|<span class="fut"> Supernattural Movies </span>|<span class="fut"> Sports Movies </span></p>
    
        <h6 style="color: rgb(196, 165, 165); margin-top: 2%;">MOVIES BY LANGUAGE</h6>
        <p><span class="fut">Movies in Hindi </span>|<span class="fut"> Movies in Marathi </span>|<span class="fut"> Movies in Chattisgrahi </span>|<span class="fut"> Movies in Khasi </span>|<span class="fut"> Movies in Tulu </span>|<span class="fut"> Movies in Japanese </span>|<span class="fut"> Movies in French </span>|<span class="fut"> Movies in Konkani </span>|<span class="fut"> Movies in Portuguese </span>|<span class="fut"> Movies in Punjabi </span></p>
    
        <h6 style="color: rgb(196, 165, 165); margin-top: 2%;">MOVIE REVIEWS AND TRENDING ARTICLES</h6>
        <p><span class="fut">Trending Articles </span>|<span class="fut"> Latest News on Movies,Events,Plays and Sports </span>|<span class="fut"> Movie Celebrities </span>|<span class="fut"> Trailers </span></p>
    
        <h6 style="color: rgb(196, 165, 165); margin-top: 2%;">Sports Events</h6>
        <p><span class="fut">Online Games </span>|<span class="fut"> E-Sports </span>|<span class="fut"> Football </span>|<span class="fut"> Kabaddi </span>|<span class="fut"> Athletics </span>|<span class="fut"> Baseball </span>|<span class="fut"> Badminton </span>|<span class="fut"> Chess </span>|<span class="fut"> Cycling </span></p>
    
        <h6 style="color: rgb(196, 165, 165); margin-top: 2%;">Events In Top Cities</h6>
        <p><span class="fut">Events In Mumbai </span>|<span class="fut"> Events In Delhi-NCR </span>|<span class="fut"> Events In Chennai </span>|<span class="fut"> Events In Bengaluru </span>|<span class="fut"> Events In Hydrabad </span>|<span class="fut"> Events In Pune </span>|<span class="fut"> Events In Ahemdabad </span>|<span class="fut"> Events In Kolkata </span>|<span class="fut"> Events In Kochi </span></p>
    
        <h6 style="color: rgb(196, 165, 165); margin-top: 2%;">CINEMAS In Top Cities</h6>
        <p><span class="fut">Cinemas In Mumbai </span>|<span class="fut"> Cinemas In Delhi-NCR </span>|<span class="fut"> Cinemas In Chennai </span>|<span class="fut"> Cinemas In Bengaluru </span>|<span class="fut"> Cinemas In Hydrabad </span>|<span class="fut"> Cinemas In Pune </span>|<span class="fut"> Cinemas In Ahemdabad </span>|<span class="fut"> Cinemas In Kolkata </span>|<span class="fut"> Cinemas In Kochi </span></p>
    
        <h6 style="color: rgb(196, 165, 165); margin-top: 2%;">Plays In Top Cities</h6>
        <p><span class="fut">Plays In Mumbai </span>|<span class="fut"> Plays In Delhi-NCR </span>|<span class="fut"> Plays In Chennai </span>|<span class="fut"> Plays In Bengaluru </span>|<span class="fut"> Plays In Hydrabad </span>|<span class="fut"> Plays In Pune </span>|<span class="fut"> Plays In Ahemdabad </span>|<span class="fut"> Plays In Kolkata </span>|<span class="fut"> Plays In Kochi </span></p>
    
        <h6 style="color: rgb(196, 165, 165); margin-top: 2%;">ACTIVITIES In Top Cities</h6>
        <p><span class="fut">Things to do In Mumbai </span>|<span class="fut"> Things to do In Delhi-NCR </span>|<span class="fut"> Things to do In Chennai </span>|<span class="fut"> Things to do In Bengaluru </span>|<span class="fut"> Things to do In Hydrabad </span>|<span class="fut"> Things to do In Pune </span>|<span class="fut"> Things to do In Ahemdabad </span>|<span class="fut"> Things to do In Kolkata </span>|<span class="fut"> Things to do In Kochi </span></p>
    
        <h6 style="color: rgb(196, 165, 165); margin-top: 2%;">COUNTRIES</h6>
        <p><span class="fut">Indonesia </span>|<span class="fut"> Singapore </span>|<span class="fut"> UAE </span>|<span class="fut"> Sri Lanka </span>|<span class="fut"> West indies </span></p>
    
        <h6 style="color: rgb(196, 165, 165); margin-top: 2%;">HELP</h6>
        <p><span class="fut">About Us </span>|<span class="fut"> Contact Us </span>|<span class="fut"> Current Opening </span>|<span class="fut"> Press Coverage </span>|<span class="fut"> Sitemap </span></p>
    
        <h6 style="color: rgb(196, 165, 165); margin-top: 2%;">BOOKMYSHOW EXCLUSIVE</h6>
        <p><span class="fut">Lollapalooza india </span>|<span class="fut"> Superstar </span>|<span class="fut"> BookAsmile </span>|<span class="fut"> Corporate Vouchers </span>|<span class="fut"> Gift Cards </span>|<span class="fut"> List My SHow </span>|<span class="fut"> Offers </span>|<span class="fut"> Stream </span>|<span class="fut"> Buzz </span>|<span class="fut"> Trailers </span></p>
            <br>
      
        <img src="assets\book my show logo.png" height="50px" width="160px" style="margin-left: 43%;">
        <div class="fut2   container-fluid">
          <div class="icon1">
            <i class="bi bi-facebook"></i>
            <i class="bi bi-twitter-x"></i>
            <i class="bi bi-instagram"></i>
            <i class="bi bi-youtube"></i>
            <i class="bi bi-pinterest"></i>
            <i class="bi bi-linkedin"></i>
          </div>
            
          <p> © Bigtree Entertainment Pvt. Ltd. All Rights Reserved.</p>
          <p>The content and images used on this site are copyright protected and copyrights vests with the respective owners. The usage of the content and images on this website is intended to promote the works and no endorsement of the artist shall be implied. Unauthorized use is prohibited and punishable by law.</p>
        </div>
      </div>

    </div>

    
  </body>
</html>