<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stream</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
</head>

<style>

</style>
<body>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <a href="www.google.com">
          <img  src="assets\one.png" class="d-block w-100"  alt="...">
        </a>
        
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <a href="">
          
        <img src="assets\two.png" class="d-block w-100" alt="...">
        </a>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <a href="">
          
        <img src="assets\three.png" class="d-block w-100" alt="...">
        </a>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <a href="">
          
        <img src="assets\four.png" class="d-block w-100" alt="...">
        </a>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <a href="">
          
        <img src="assets\five.png" class="d-block w-100" alt="...">
        </a>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <a href="">
        <img src="assets\six.png" class="d-block w-100" alt="...">
        </a>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <a href="">
          
        <img src="assets\seven.png" class="d-block w-100" alt="...">
        </a>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <a href="">
        <img src="assets\eight.png" class="d-block w-100" alt="...">
        </a>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <a href="">
        <img src="assets\nine.png" class="d-block w-100" alt="...">
        </a>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <a href="">
        <img src="assets\ten.png" class="d-block w-100" alt="...">
        </a>
      </div>
    </div>
  </div>


  <div class="container my-5 py-3">
    <h3 class="text-dark">Premiere of the week</h3>

    <div class="card-group">
      <div class="card mx-3 border-0">
        <a href=""><img   src="assets\oppenheimer-et00347867-1700808846.avif" class="card-img-top img-fluid rounded-4" height="400px" data-bs-toggle="tooltip" 
          title=" ABOUT THIS SHOW:-
          Plot. In 1926, 22-year-old doctoral student J. Robert Oppenheimer grapples 
          with anxiety and homesickness while studying under experimental physicist Patrick 
          Blackett at the Cavendish Laboratory in Cambridge. Upset with the demanding Blackett, 
          Oppenheimer leaves him a poisoned apple but later retrieves it.

                  
CASTS:-1.Cillian Murphy 
           2.Florence Pugh
           3.Robert Downey Jr.
           4.Emily Blunt 
           5.Matt Damon
           6.Josh Hartnett 
           7.Rami Malek
           8.Gary Oldman 
            "></a>
        
       
        
      </div>
      <div class="card mx-3 border-0">
        <a href="">
          <img src="assets\premiun2.png" class="card-img-top img-fluid rounded-4" alt="..." data-bs-toggle="tooltip" 
          title=" ABOUT THIS SHOW:-
          A Korean diplomat is dispatched to Afghanistan when a group of South Korean 
          tourists is taken hostage by the Taliban. When all measures fail and one hostage 
          is killed, he is forced to team u...

                  
CASTS:-1.Hyun Bin 
           2.Kang Ki-young
           3.Hwang Jung
           4.Fahim Fazill 
           5.Sung-woo Jeon
           6.Kwon Hyuk 
           7.Park Hyung-Soo
           8.Kang Mal-geum 
            ">
        </a>
        
        
      </div>
      <div class="card mx-3 border-0">
        <a href="">
        <img src="assets\premium3.png" class="card-img-top img-fluid rounded-4" alt="..."data-bs-toggle="tooltip" 
        title=" ABOUT THIS SHOW:-
        Plot. An unnamed screenwriter (Kambozia Partovi) arrives at a secluded three-story villa 
        on the Caspian Sea. He secretly brings along his pet dog named Boy. Dogs are considered 
        unclean under Islamic rule and the writer intends to hide Boy from authorities as he tries 
        to get some writing done.

                
CASTS:-1.Kambuzia Partovi 
              2.Maryam Moghadam
              3.Jafar Panahi
              4.Hadi Saeedi 
              5.Azadeh Torabi
              6.Abolghasem Sobhani 
              7.Mahyar Jafaripur
              8.Ramin Akhariani 
          ">
      </a>
      </div>
      <div class="card mx-3 border-0">
        <a href="">
          <img src="assets\premiun1.png" class="card-img-top img-fluid  rounded-4" alt="...">
        </a>
        </div>
    </div>


    <br><br>
    <h3 class="text-dark">Top 10 TV series</h3>
    <br>
    <div class="card-group">
      <div class="card mx-3 border-0">
        <a href="sports/index.htm">
        <img src="assets\series1.png" class="card-img-top img-fluid rounded-4" height="400px">
      </a>
        
      </div>
      <div class="card mx-3 border-0">
        <a href="">
        <img src="assets\series2.png" class="card-img-top img-fluid rounded-4" alt="...">
        
        </a>
      </div>
      <div class="card mx-3 border-0">
        <a href="">
        <img src="assets\series3.png" class="card-img-top img-fluid rounded-4" alt="...">
        </a>
      </div>
      <div class="card mx-3 border-0">
        <a href="">
          <img src="assets\series4.png" class="card-img-top img-fluid  rounded-4" alt="...">
        </a>
      </div>
    </div>

    <br><br>
    <h3 class="text-dark">Top Movies in Hindi,Tamil and Telugu</h3>
    <br>
    <div class="card-group">
      <div class="card mx-3 border-0">
        <a href="sports/index.htm">
        <img src="assets\hindi1.png" class="card-img-top img-fluid rounded-4" height="400px">
      </a>
        
      </div>
      <div class="card mx-3 border-0">
        <a href="">
        <img src="assets\hindi2.png" class="card-img-top img-fluid rounded-4" alt="...">
        
        </a>
      </div>
      <div class="card mx-3 border-0">
        <a href="">
        <img src="assets\hindi3.png" class="card-img-top img-fluid rounded-4" alt="...">
        </a>
      </div>
      <div class="card mx-3 border-0">
        <a href="">
          <img src="assets\hindi4.png" class="card-img-top img-fluid  rounded-4" alt="...">
        </a>
      </div>
    </div>
   
    
  </div>

  <div style="background-color: #333338; margin-top: 7%;">
    <p class="text-white" style="padding: 2%; font-size: large;"><b>List your show </b>   Got a show,event,activity or a great experience? Partner with us & get listed on BookMyShow</p>
  
  
    <div style="margin-left: 3%;">
      <h6 style="color: rgb(196, 165, 165);">MOVIES NOW SHOWING</h6>
      <p><span class="fut">Jhimma 2 </span>|<span class="fut"> Tiger 3 </span>|<span class="fut"> Napoleon </span>|<span class="fut"> Farrey </span>|<span class="fut"> Naal Bhag-2 </span>|<span class="fut"> 12th Fail </span>|<span class="fut"> Animal </span></p>
    
      <h6 style="color: rgb(196, 165, 165); margin-top: 2%;">UPCOMING MOVIES</h6>
      <p><span class="fut">Atharva </span>|<span class="fut"> The Bikeriders </span>|<span class="fut"> Raapata </span>|<span class="fut"> Naadu </span>|<span class="fut"> Palle Gootiki pandagocchindhi </span>|<span class="fut"> Sam Bahadur </span>|<span class="fut"> Gaarudiga </span>|<span class="fut"> Dance Party </span>|<span class="fut"> Annapoorani - The Goddess of Food </span>|<span class="fut"> Anavarana </span></p>
    
      <h6 style="color: rgb(196, 165, 165); margin-top: 2%;">MOVIES BY GEBRE</h6>
      <p><span class="fut">Drama Movies </span>|<span class="fut"> Action Movies </span>|<span class="fut"> Thriller Movies </span>|<span class="fut"> Crime Movies </span>|<span class="fut"> Adaptation Movies </span>|<span class="fut"> Mythological Movies </span>|<span class="fut"> Noir Movies </span>|<span class="fut"> Political Movies </span>|<span class="fut"> Supernattural Movies </span>|<span class="fut"> Sports Movies </span></p>
  
      <h6 style="color: rgb(196, 165, 165); margin-top: 2%;">MOVIES BY LANGUAGE</h6>
      <p><span class="fut">Movies in Hindi </span>|<span class="fut"> Movies in Marathi </span>|<span class="fut"> Movies in Chattisgrahi </span>|<span class="fut"> Movies in Khasi </span>|<span class="fut"> Movies in Tulu </span>|<span class="fut"> Movies in Japanese </span>|<span class="fut"> Movies in French </span>|<span class="fut"> Movies in Konkani </span>|<span class="fut"> Movies in Portuguese </span>|<span class="fut"> Movies in Punjabi </span></p>
  
      <h6 style="color: rgb(196, 165, 165); margin-top: 2%;">MOVIE REVIEWS AND TRENDING ARTICLES</h6>
      <p><span class="fut">Trending Articles </span>|<span class="fut"> Latest News on Movies,Events,Plays and Sports </span>|<span class="fut"> Movie Celebrities </span>|<span class="fut"> Trailers </span></p>
  
      <h6 style="color: rgb(196, 165, 165); margin-top: 2%;">Sports Events</h6>
      <p><span class="fut">Online Games </span>|<span class="fut"> E-Sports </span>|<span class="fut"> Football </span>|<span class="fut"> Kabaddi </span>|<span class="fut"> Athletics </span>|<span class="fut"> Baseball </span>|<span class="fut"> Badminton </span>|<span class="fut"> Chess </span>|<span class="fut"> Cycling </span></p>
  
      <h6 style="color: rgb(196, 165, 165); margin-top: 2%;">Events In Top Cities</h6>
      <p><span class="fut">Events In Mumbai </span>|<span class="fut"> Events In Delhi-NCR </span>|<span class="fut"> Events In Chennai </span>|<span class="fut"> Events In Bengaluru </span>|<span class="fut"> Events In Hydrabad </span>|<span class="fut"> Events In Pune </span>|<span class="fut"> Events In Ahemdabad </span>|<span class="fut"> Events In Kolkata </span>|<span class="fut"> Events In Kochi </span></p>
  
      <h6 style="color: rgb(196, 165, 165); margin-top: 2%;">CINEMAS In Top Cities</h6>
      <p><span class="fut">Cinemas In Mumbai </span>|<span class="fut"> Cinemas In Delhi-NCR </span>|<span class="fut"> Cinemas In Chennai </span>|<span class="fut"> Cinemas In Bengaluru </span>|<span class="fut"> Cinemas In Hydrabad </span>|<span class="fut"> Cinemas In Pune </span>|<span class="fut"> Cinemas In Ahemdabad </span>|<span class="fut"> Cinemas In Kolkata </span>|<span class="fut"> Cinemas In Kochi </span></p>
  
      <h6 style="color: rgb(196, 165, 165); margin-top: 2%;">Plays In Top Cities</h6>
      <p><span class="fut">Plays In Mumbai </span>|<span class="fut"> Plays In Delhi-NCR </span>|<span class="fut"> Plays In Chennai </span>|<span class="fut"> Plays In Bengaluru </span>|<span class="fut"> Plays In Hydrabad </span>|<span class="fut"> Plays In Pune </span>|<span class="fut"> Plays In Ahemdabad </span>|<span class="fut"> Plays In Kolkata </span>|<span class="fut"> Plays In Kochi </span></p>
  
      <h6 style="color: rgb(196, 165, 165); margin-top: 2%;">ACTIVITIES In Top Cities</h6>
      <p><span class="fut">Things to do In Mumbai </span>|<span class="fut"> Things to do In Delhi-NCR </span>|<span class="fut"> Things to do In Chennai </span>|<span class="fut"> Things to do In Bengaluru </span>|<span class="fut"> Things to do In Hydrabad </span>|<span class="fut"> Things to do In Pune </span>|<span class="fut"> Things to do In Ahemdabad </span>|<span class="fut"> Things to do In Kolkata </span>|<span class="fut"> Things to do In Kochi </span></p>
  
      <h6 style="color: rgb(196, 165, 165); margin-top: 2%;">COUNTRIES</h6>
      <p><span class="fut">Indonesia </span>|<span class="fut"> Singapore </span>|<span class="fut"> UAE </span>|<span class="fut"> Sri Lanka </span>|<span class="fut"> West indies </span></p>
  
      <h6 style="color: rgb(196, 165, 165); margin-top: 2%;">HELP</h6>
      <p><span class="fut">About Us </span>|<span class="fut"> Contact Us </span>|<span class="fut"> Current Opening </span>|<span class="fut"> Press Coverage </span>|<span class="fut"> Sitemap </span></p>
  
      <h6 style="color: rgb(196, 165, 165); margin-top: 2%;">BOOKMYSHOW EXCLUSIVE</h6>
      <p><span class="fut">Lollapalooza india </span>|<span class="fut"> Superstar </span>|<span class="fut"> BookAsmile </span>|<span class="fut"> Corporate Vouchers </span>|<span class="fut"> Gift Cards </span>|<span class="fut"> List My SHow </span>|<span class="fut"> Offers </span>|<span class="fut"> Stream </span>|<span class="fut"> Buzz </span>|<span class="fut"> Trailers </span></p>
          <br>
    
      <img src="assets\book my show logo.png" height="50px" width="160px" style="margin-left: 43%;"><br>

      
      <div class="fut2   container-fluid">
        <div class="icon1">
          <i class="bi bi-facebook"></i>
          <i class="bi bi-twitter-x"></i>
          <i class="bi bi-instagram"></i>
          <i class="bi bi-youtube"></i>
          <i class="bi bi-pinterest"></i>
          <i class="bi bi-linkedin"></i>
        </div>
          
        <p> © Bigtree Entertainment Pvt. Ltd. All Rights Reserved.</p>
        <p>The content and images used on this site are copyright protected and copyrights vests with the respective owners. The usage of the content and images on this website is intended to promote the works and no endorsement of the artist shall be implied. Unauthorized use is prohibited and punishable by law.</p>
      </div>
    </div>
    

  </div>

   

    
   
    
</body>
</html>

<script>
  // Initialize tooltips
  vartooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  vartooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
  })
  </script>