.par{
    font-size: 18px;
}
.corimg{
    width: 650px;
    height: 600px;
}
/*.dOsBzd::after {
    content: "";
    background-image: linear-gradient(rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.57));
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1;
}
*, :after, :before {
    box-sizing: inherit;
}
*/
#QA{
    font-size: small;
}
#Qwidth{
    width: 80%;
}

.fut{
    color: rgb(106, 84, 84);
  }
  
.fut:hover{
    color: white;
    transition: 1s;
}
.fut2{
  background-color: #333333;
  width: 100%;
  height: 300px;
}

.icon1{
  cursor: pointer;
  text-align: center;
  font-size: 1.8rem;
  padding: 50px 0 50px 0;
}

.icon1 i{
  margin: 4px;
}

.icon1 i:hover{
  color: white;
  transition: 1s;
}

.fut2 p{
  color: #666666;
  text-align: center;
  padding: 0 20px;
}