<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    
    

    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
        <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
        <label class="btn btn-outline-secondary" for="btncheck1">E-GIFT CARDS</label>
      
        <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
        <label class="btn btn-outline-secondary" for="btncheck2">PHYSICAL GIFT CARD</label>
      
      </div>

      <p class="h1">Puck Card From One of Our Themes</p>

      <div class="btn1">
        <button type="button" class="btn btn-outline-danger rounded-pill">All</button>
        <button type="button" class="btn btn-outline-danger rounded-pill">Genaric</button>
        <button type="button" class="btn btn-outline-danger rounded-pill">Occasion</button>
        <button type="button" class="btn btn-outline-danger rounded-pill">Combos</button>
      </div>

     <div class="container container-fluid card1">
        
        <div class="gift">
            <img src="assets/g1.avif" alt="">
        </div>

        <div class="gift">
            <img src="assets/g1.avif" alt="">
        </div>

        <div class="gift">
            <img src="assets/g1.avif" alt="">
        </div>
        
        <div class="gift">
            <img src="assets/g1.avif" alt="">
        </div>
     </div>
      
     <div class="container container-fluid card1">
        
        <div class="gift">
            <img src="assets/g1.avif" alt="">
        </div>

        <div class="gift">
            <img src="assets/g1.avif" alt="">
        </div>

        <div class="gift">
            <img src="assets/g1.avif" alt="">
        </div>
        
        <div class="gift">
            <img src="assets/g1.avif" alt="">
        </div>
     </div>

     <div class="container container-fluid card1">
        
        <div class="gift">
            <img src="assets/g1.avif" alt="">
        </div>

        <div class="gift">
            <img src="assets/g1.avif" alt="">
        </div>

        <div class="gift">
            <img src="assets/g1.avif" alt="">
        </div>
        
        <div class="gift">
            <img src="assets/g1.avif" alt="">
        </div>
     </div>

     <div class="container container-fluid card1">
        
        <div class="gift">
            <img src="assets/g1.avif" alt="">
        </div>

        <div class="gift">
            <img src="assets/g1.avif" alt="">
        </div>

        <div class="gift">
            <img src="assets/g1.avif" alt="">
        </div>
        
        <div class="gift">
            <img src="assets/g1.avif" alt="">
        </div>
     </div>

     <div class="container container-fluid card1">
        
        <div class="gift">
            <img src="assets/g1.avif" alt="">
        </div>

        <div class="gift">
            <img src="assets/g1.avif" alt="">
        </div>

        <div class="gift">
            <img src="assets/g1.avif" alt="">
        </div>
        
        <div class="gift">
            <img src="assets/g1.avif" alt="">
        </div>
     </div>

     <div class="container container-fluid card1">
        
        <div class="gift">
            <img src="assets/g1.avif" alt="">
        </div>

        <div class="gift">
            <img src="assets/g1.avif" alt="">
        </div>

        <div class="gift">
            <img src="assets/g1.avif" alt="">
        </div>
        
        <div class="gift">
            <img src="assets/g1.avif" alt="">
        </div>
     </div>

     <div class="container container-fluid card1">
        
        <div class="gift">
            <img src="assets/g1.avif" alt="">
        </div>

        <div class="gift">
            <img src="assets/g2].avif" alt="">
        </div>

        <div class="gift">
            <img src="assets/g2].avif" alt="">
        </div>
        
        <div class="gift">
            <img src="assets/g2].avif" alt="">
        </div>
     </div>

     <div class="container container-fluid card1">
        
        <div class="gift">
            <img src="assets/g1.avif" alt="">
        </div>

        <div class="gift">
            <img src="assets/g3.avif" alt="">
        </div>

        <div class="gift">
            <img src="assets/g3.avif" alt="">
        </div>
        
        <div class="gift">
            <img src="assets/g2].avif" alt="">
        </div>
     </div>
      
    <div class="term">
        <span>Term & Condtion</span>
        <span>Need Help?</span>
        <span>Chack Gift Card Balence</span>
    </div>
     
    <div class="heading">
        <h6>BOOKMYSHOW GIFT CARD</h6>
    </div>
    <div class="container container-fluid">
      <p class="p1">gift an exprience to you loved ones like never before! give them a gift of funand enter tainment with BookMyShow ift cards. whatever be the ocassioin a BookMyShow card is just right to delight someone.
        <span class="p2">from birthday,annverseries,festivals to ocassioin ,there is wide selection  of quirklyand cool gift card you choose from. </span>   </p>
    </div>
    <div class="p3">Redeem your gift card at a secure payment page while booking your tickets. Click on the "Gift Vochuer" tab and enter your Gift Card code.</div>

    <div class="form">
      <form action="">
        <ul><span>some useful tips while using gift cards</span>
        <li>gift card cand be redeemed on purchase of tickets for movies,plays,concert,sportand event across india. </li>
        <li>valid for twelve month from date of delivery</li>
        <li>Multiple gift card can be used in single transaction. A gift card can be used any number  of time during validity period till its balance is exhausted.</li>
        <li>A gift card can be used any number of time during the validity period  till its balance is exhausted.</li>
        </ul>
      </form>
    </div>


    <div style="background-color: #333338; margin-top: 9%;">
      <p class="text-white" style="padding: 2%; font-size: large;"><b>List your show </b>   Got a show,event,activity or a great experience? Partner with us & get listed on BookMyShow</p>
    
    
      <div style="margin-left: 3%;">
        <h6 style="color: rgb(196, 165, 165);">MOVIES NOW SHOWING</h6>
        <p><span class="fut">Jhimma 2 </span>|<span class="fut"> Tiger 3 </span>|<span class="fut"> Napoleon </span>|<span class="fut"> Farrey </span>|<span class="fut"> Naal Bhag-2 </span>|<span class="fut"> 12th Fail </span>|<span class="fut"> Animal </span></p>
      
        <h6 style="color: rgb(196, 165, 165); margin-top: 2%;">UPCOMING MOVIES</h6>
        <p><span class="fut">Atharva </span>|<span class="fut"> The Bikeriders </span>|<span class="fut"> Raapata </span>|<span class="fut"> Naadu </span>|<span class="fut"> Palle Gootiki pandagocchindhi </span>|<span class="fut"> Sam Bahadur </span>|<span class="fut"> Gaarudiga </span>|<span class="fut"> Dance Party </span>|<span class="fut"> Annapoorani - The Goddess of Food </span>|<span class="fut"> Anavarana </span></p>
      
        <h6 style="color: rgb(196, 165, 165); margin-top: 2%;">MOVIES BY GEBRE</h6>
        <p><span class="fut">Drama Movies </span>|<span class="fut"> Action Movies </span>|<span class="fut"> Thriller Movies </span>|<span class="fut"> Crime Movies </span>|<span class="fut"> Adaptation Movies </span>|<span class="fut"> Mythological Movies </span>|<span class="fut"> Noir Movies </span>|<span class="fut"> Political Movies </span>|<span class="fut"> Supernattural Movies </span>|<span class="fut"> Sports Movies </span></p>
    
        <h6 style="color: rgb(196, 165, 165); margin-top: 2%;">MOVIES BY LANGUAGE</h6>
        <p><span class="fut">Movies in Hindi </span>|<span class="fut"> Movies in Marathi </span>|<span class="fut"> Movies in Chattisgrahi </span>|<span class="fut"> Movies in Khasi </span>|<span class="fut"> Movies in Tulu </span>|<span class="fut"> Movies in Japanese </span>|<span class="fut"> Movies in French </span>|<span class="fut"> Movies in Konkani </span>|<span class="fut"> Movies in Portuguese </span>|<span class="fut"> Movies in Punjabi </span></p>
    
        <h6 style="color: rgb(196, 165, 165); margin-top: 2%;">MOVIE REVIEWS AND TRENDING ARTICLES</h6>
        <p><span class="fut">Trending Articles </span>|<span class="fut"> Latest News on Movies,Events,Plays and Sports </span>|<span class="fut"> Movie Celebrities </span>|<span class="fut"> Trailers </span></p>
    
        <h6 style="color: rgb(196, 165, 165); margin-top: 2%;">Sports Events</h6>
        <p><span class="fut">Online Games </span>|<span class="fut"> E-Sports </span>|<span class="fut"> Football </span>|<span class="fut"> Kabaddi </span>|<span class="fut"> Athletics </span>|<span class="fut"> Baseball </span>|<span class="fut"> Badminton </span>|<span class="fut"> Chess </span>|<span class="fut"> Cycling </span></p>
    
        <h6 style="color: rgb(196, 165, 165); margin-top: 2%;">Events In Top Cities</h6>
        <p><span class="fut">Events In Mumbai </span>|<span class="fut"> Events In Delhi-NCR </span>|<span class="fut"> Events In Chennai </span>|<span class="fut"> Events In Bengaluru </span>|<span class="fut"> Events In Hydrabad </span>|<span class="fut"> Events In Pune </span>|<span class="fut"> Events In Ahemdabad </span>|<span class="fut"> Events In Kolkata </span>|<span class="fut"> Events In Kochi </span></p>
    
        <h6 style="color: rgb(196, 165, 165); margin-top: 2%;">CINEMAS In Top Cities</h6>
        <p><span class="fut">Cinemas In Mumbai </span>|<span class="fut"> Cinemas In Delhi-NCR </span>|<span class="fut"> Cinemas In Chennai </span>|<span class="fut"> Cinemas In Bengaluru </span>|<span class="fut"> Cinemas In Hydrabad </span>|<span class="fut"> Cinemas In Pune </span>|<span class="fut"> Cinemas In Ahemdabad </span>|<span class="fut"> Cinemas In Kolkata </span>|<span class="fut"> Cinemas In Kochi </span></p>
    
        <h6 style="color: rgb(196, 165, 165); margin-top: 2%;">Plays In Top Cities</h6>
        <p><span class="fut">Plays In Mumbai </span>|<span class="fut"> Plays In Delhi-NCR </span>|<span class="fut"> Plays In Chennai </span>|<span class="fut"> Plays In Bengaluru </span>|<span class="fut"> Plays In Hydrabad </span>|<span class="fut"> Plays In Pune </span>|<span class="fut"> Plays In Ahemdabad </span>|<span class="fut"> Plays In Kolkata </span>|<span class="fut"> Plays In Kochi </span></p>
    
        <h6 style="color: rgb(196, 165, 165); margin-top: 2%;">ACTIVITIES In Top Cities</h6>
        <p><span class="fut">Things to do In Mumbai </span>|<span class="fut"> Things to do In Delhi-NCR </span>|<span class="fut"> Things to do In Chennai </span>|<span class="fut"> Things to do In Bengaluru </span>|<span class="fut"> Things to do In Hydrabad </span>|<span class="fut"> Things to do In Pune </span>|<span class="fut"> Things to do In Ahemdabad </span>|<span class="fut"> Things to do In Kolkata </span>|<span class="fut"> Things to do In Kochi </span></p>
    
        <h6 style="color: rgb(196, 165, 165); margin-top: 2%;">COUNTRIES</h6>
        <p><span class="fut">Indonesia </span>|<span class="fut"> Singapore </span>|<span class="fut"> UAE </span>|<span class="fut"> Sri Lanka </span>|<span class="fut"> West indies </span></p>
    
        <h6 style="color: rgb(196, 165, 165); margin-top: 2%;">HELP</h6>
        <p><span class="fut">About Us </span>|<span class="fut"> Contact Us </span>|<span class="fut"> Current Opening </span>|<span class="fut"> Press Coverage </span>|<span class="fut"> Sitemap </span></p>
    
        <h6 style="color: rgb(196, 165, 165); margin-top: 2%;">BOOKMYSHOW EXCLUSIVE</h6>
        <p><span class="fut">Lollapalooza india </span>|<span class="fut"> Superstar </span>|<span class="fut"> BookAsmile </span>|<span class="fut"> Corporate Vouchers </span>|<span class="fut"> Gift Cards </span>|<span class="fut"> List My SHow </span>|<span class="fut"> Offers </span>|<span class="fut"> Stream </span>|<span class="fut"> Buzz </span>|<span class="fut"> Trailers </span></p>
            <br>
      
        <img src="assets\book my show logo.png" height="50px" width="160px" style="margin-left: 43%;">
      </div>
      

    
  
    </div>

<div class="fut2   container-fluid">
  <div class="icon1">
    <i class="bi bi-facebook"></i>
    <i class="bi bi-twitter-x"></i>
    <i class="bi bi-instagram"></i>
    <i class="bi bi-youtube"></i>
    <i class="bi bi-pinterest"></i>
    <i class="bi bi-linkedin"></i>
  </div>
    
  <p> © Bigtree Entertainment Pvt. Ltd. All Rights Reserved.</p>
  <p>The content and images used on this site are copyright protected and copyrights vests with the respective owners. The usage of the content and images on this website is intended to promote the works and no endorsement of the artist shall be implied. Unauthorized use is prohibited and punishable by law.</p>
  </div>

</body>
</html>